<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/cinema?serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">mate_student</property>
        <property name="connection.password">Cegth0285cnhjyuGfhjkm456</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <mapping class="org.cinema.model.CinemaHall"/>
        <mapping class="org.cinema.model.Movie"/>
        <mapping class="org.cinema.model.MovieSession"/>
        <mapping class="org.cinema.model.ShoppingCart"/>
        <mapping class="org.cinema.model.Ticket"/>
        <mapping class="org.cinema.model.User"/>
        <mapping class="org.cinema.model.Order"/>
    </session-factory>
</hibernate-configuration>
